.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

header {
    padding: 1px;
    background: #152529 url("../images/--image.png") center/cover;
    .container-header {
        box-sizing: border-box;
        max-width: 1140px;
        margin: auto;
        padding: 39px 0 68px 0;
        .wrap-logo {
            .logo {
                display: inline-block;
                float: left;
            }
            .container-bar {
                .nav, .touch-menu {
                    background: transparent;
                }
                .nav {
                    .active {
                        color: #ffac55;
                    }
                    float: right;
                    .padrigth {
                        padding-right: 55px;
                    }
                    .phone {
                        padding-left: 15px;
                        a {
                            background: url("../images/phone-icon.png") no-repeat 0 50% !important;
                            padding: 13px 0 13px 30px;
                            color: #ffffff;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 15px;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                    li:last-child {
                        padding: 7px 0 0 15px;
                        a {
                            border-radius: 15px;
                            padding: 15px;
                            display: inline-block;
                            background: #03b6e7 url("../images/email-icon.png") no-repeat 50% 45% !important;
                        }
                    }
                }
                .touch-menu {
                    text-align: right;
                }
                .nav li {
                    float: left;
                }
                .nav li a, .touch-menu {
                    text-decoration: none;
                    display: block;
                    padding: 14px 15px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #e2e2e2;
                    &:hover {
                        color: #ffac55;
                        background: rgba(0, 0, 0, .1);
                    }
                }
                .touch-menu {
                    display: none;
                }
                @media (max-width: 1016px) {
                    .nav {
                        display: none;
                        float: none;
                    }
                    .nav li {
                        float: none;
                    }
                    .nav li a {
                        background: transparent;
                        color: #e2e2e2;
                    }
                    .touch-menu {
                        display: block;
                        .green {
                            color: #55bd77;
                        }
                        .orange {
                            color: #ffac55;
                        }
                        .blue {
                            color: #03b6e7;
                        }
                        &:hover {
                            background: rgba(0, 0, 0, .5);
                        }
                    }
                }
            }
        }
        h1 {
            margin: 176px 0 0 0;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }
        h2 {
            margin-bottom: 59px;
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }
        //=========
        //BEGIN
        //=========
        .slider-header {
            .owl-dots {
                margin-top: 105px !important;
            }
            .owl-dot {
                span {
                    border: 2px solid white;
                    background: none;
                    &:hover {
                        border: 2px solid #16d428;
                    }
                }
            }
            .active {
                span {
                    background: #16d428 !important;
                }
            }
            .categ {
            }
            .categ-edu {
                padding: 141px;
                background: #03b6e7 url("../images/2-layers-1.png") no-repeat 50% 50%;
                &:hover {
                    background: #f6961b url("../images/2-layers-1.png") no-repeat 50% 50%;
                }
            }
            .categ-busin {
                padding: 141px;
                background: #03b6e7 url("../images/2-layers-2.png") no-repeat 50% 50%;
                &:hover {
                    background: #f6961b url("../images/2-layers-2.png") no-repeat 50% 50%;
                }
            }
            //.tech {
            //    background: url("../../images/2-layers-3.png") no-repeat 50% 50%;
            //}
            //.bank {
            //    background: url("../../images/2-layers-4.png") no-repeat 50% 50%;
            //}

        }
        //=========
        //END
        //=========
    }
}