
.button {
    text-align: center;
    a {
        border: 1px solid #16d428;
        text-decoration: none;
        display: inline-block;
        border-radius: 30px;
        padding: 16px 26px;
        background-color: #16d428;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            background: transparent;
            color: #16d428;
        }
    }
}
.button-projects {
    position: absolute;
    left: 20px;
    top: 20px;
    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 25px;
        border: 2px solid #ffac56;
        display: inline-block;
        padding: 11px 27px;
        color: #ffffff;
        &:hover {
            background: #ffac56;
        }
    }
}

