
.button {
    text-align: center;
    a {
        text-decoration: none;
        display: inline-block;
        border-radius: 25px;
        padding: 16px 26px;
        background-color: #16d428;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

