.title-top {
    text-align: center;
    color: #343a3b;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.title-middle {
    color: #838b8c;
    font-family: 'Domine', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}


