.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.container-about {
    box-sizing: border-box;
    max-width: 1140px;
    border: 1px solid;
    margin: auto;
    padding: 94px 0 96px;
    .title-middle {
        max-width: 679px;
        text-align: center;
        margin: 39px auto 0;
    }
    .button {
        margin-top: 38px;
        padding-bottom: 68px;
        border-bottom: 1px solid #e7eff1;
    }
    span {
        width: 100%;
        background-color: #e7eff1;
    }
    .slider-about {
        padding: 0 67px 0;
        position: relative;
        margin-top: 57px;
        .hover {
            &:hover {
                background: url("../images/logo-1.png") no-repeat 50% 50%;
            }
        }
        .owl-nav {
            position: absolute;
            top:0;
            width: 100%;
            .owl-prev {
                position: absolute;
                left: -70px;
                top:-15px;
                color: transparent;
                margin: 0;
                padding: 6px;
                background: transparent url("../images/about-us-left-arrow.png") no-repeat 50% 50%;
                &:hover {
                background: url("../images/about-us-left-arrow-active.png") no-repeat 50% 50%;
                    cursor: pointer;
                }
            }
            .owl-next {
                position: absolute;
                right: 65px;
                top: -14px;
                color: transparent;
                margin: 0;
                padding: 6px;
                background: transparent url("../images/about-us-right-arrow.png") no-repeat 50% 50%;
                &:hover {
                    background: url("../images/about-us-right-arrow-active.png") no-repeat 50% 50%;
                    cursor: pointer;
                }
            }
        }


    }
}

.main-our {
    background-color: #e7eff1;
    .container-our {
        box-sizing: border-box;
        max-width: 1140px;
        border: 1px solid;
        margin: auto;
        padding-top: 92px;
        .wrap-item {
            margin-top: 74px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item-lt {
                max-width: 450px;
                //float: left;
                border: 1px solid;
                .item {
                    padding-right: 68px;
                    .title-top {
                        text-align: right;
                        font-size: 17px;
                        a {
                            color: #343a3b;;
                        }
                    }
                    .title-middle {
                        text-align: right;
                    }
                }
                .sup {
                    background: url("../images/icon-support.png") no-repeat 100% 8%;
                }
                .sec {
                    margin-top: 67px;
                    background: url("../images/icon-security.png") no-repeat 100% 8%;
                }
            }
            .item-cnt {
                width: 130px;
                height: 130px;
                border: 1px solid;
                background: url("../images/2-layers.png") no-repeat 50% 50%;
            }
            .item-rt {
                max-width: 450px;
                //float: right;
                border: 1px solid;
                .item {
                    padding-left: 68px;
                    .title-top {
                        text-align: left;
                        font-size: 17px;
                        a {
                            color: #343a3b;;
                        }
                    }
                    .title-middle {
                        text-align: left;
                    }
                }
                .bus {
                    background: url("../images/icon-business-boosting.png") no-repeat 0 8%;
                }
                .cre {
                    margin-top: 67px;
                    background: url("../images/icon-creative-process.png") no-repeat 0 8%;
                }
            }
        }
        @media (min-width: 320px) and (max-width: 1000px) {
            .wrap-item {
                display: flex;
                flex-direction: column;
            }
        }
        .black-box {
            padding: 16px 25px 16px 36px;
            margin-top: 98px;
            background-color: #565d5d;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media (min-width: 320px) and (max-width: 604px) {
            .black-box {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.container-projects {
    box-sizing: border-box;
    max-width: 1140px;
    border: 1px solid;
    margin: auto;
    padding: 94px 0 93px;
    .wrap-projects {
        margin: 34px 0 45px;
        display: flex;
        justify-content: space-between;
        border: 1px solid;
        .projects-lt {
            max-width: 358px;
            border: 1px solid;
            .projects-lt-top {
                position: relative;
                img {
                    max-width: 100%;
                }
            }
            .projects-lt-bottom {
                background-color: #f6961b;
                padding: 38px 29px 55px;
                .title-top {
                    text-align: left;
                    color: #ffffff;
                    font-size: 18px;
                }
                .title-middle {
                    color: #ffffff;
                }
            }
        }
        .projects-rt {
            max-width: 749px;
            border: 1px solid;
            .projects-rt-top {
                img {
                    max-width: 100%;
                }
            }
            .projects-rt-bottom {
                padding: 38px 108px 55px 29px;
                .title-top {
                    text-align: left;
                    font-size: 18px;
                }
            }
        }
    }
    @media (min-width: 320px) and (max-width: 1110px) {
        .wrap-projects {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.main-services {
    background-color: #fffaf3;
    .container-services {
        box-sizing: border-box;
        max-width: 1140px;
        border: 1px solid;
        margin: auto;
        padding: 96px 0 92px;
        .wrap-item-services {
            margin: 58px 0 53px;
            display: flex;
            justify-content: space-between;
            .item {
                padding-top: 65px;
                max-width: 324px;
                border: 1px solid;
                .title-top {
                    text-align: left;
                    font-size: 18px;
                    a {
                        color: #343a3b;;
                    }
                }
            }
            .business {
                background: url("../images/service-consult-active.png") no-repeat;
            }
            .boost {
                background: url("../images/service-boost.png") no-repeat;
                &:hover {
                    background: url("../images/service-boost-active.png") no-repeat;
                }
            }
            .account {
                background: url("../images/service-accounting.png") no-repeat;
                &:hover {
                    background: url("../images/service-accounting-active.png") no-repeat;
                }
            }
        }
        @media (min-width: 320px) and (max-width: 768px) {
            .wrap-item-services {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.main-testi {
    background: #03b6e7 url("../images/quote-icon.png") no-repeat 23% 0;
    .container-testi {
        box-sizing: border-box;
        max-width: 1140px;
        border: 1px solid;
        margin: auto;
        padding: 95px 0 92px;
        .title-top {
            color: #ffffff;
        }
        .wrap-item-testi {
            margin: 35px 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            .item {
                padding: 0 5px;
            }
        }
        .title-middle {
            margin: auto;
            color: #ddf8ff;
            text-align: center;
            max-width: 894px;
        }
        .shniajka {
            margin: auto;
            background: url("../images/quote-icon-2.png") no-repeat 100% 100%;
            max-width: 1002px;
            height: 21px;
            .risk {
                margin: auto;
                border-bottom: 2px solid white;
                max-width: 17px;
                height: 100%;
            }
        }
        .client {
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            margin: 34px 0 0 0;
        }
    }
}

.main-our-blog {
    background-color: #e7eff1;
    .container-blog {
        box-sizing: border-box;
        max-width: 1140px;
        border: 1px solid;
        margin: auto;
        padding: 94px 0 94px;
        .wrap-item-blog {
            margin: 41px 0 62px;
            display: flex;
            justify-content: space-between;
            .item {
                background-color: #ffffff;
                max-width: 570px;
                display: flex;
                justify-content: space-between;
                .item-img {
                }
                .item-text {
                    padding: 43px 64px 102px 39px;
                    .date {
                        color: #343a3b;
                        font-family: 'Domine', serif;
                        font-size: 15px;
                        font-weight: 400;
                    }
                    .title-top {
                        font-size: 18px;
                        text-align: left;
                    }
                }
            }
            .shadow {
                box-shadow: inset 10px 0 70px rgba(50, 50, 50, 0.1);
            }
            .border-gree {
                border-top: 2px solid #16d428;
            }
            .border-oran {
                border-top: 2px solid #ffac56;
            }
        }
        @media (min-width: 320px) and (max-width: 1100px) {
            .wrap-item-blog {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        @media (min-width: 320px) and (max-width: 490px) {
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.container-quick {
    box-sizing: border-box;
    max-width: 1140px;
    border: 1px solid;
    margin: auto;
    padding: 95px 0 100px;
    .container-fluid {
        a {
            display: block;
            .col-md-4 {
                .contact {
                    border: 1px solid #e1eaec;
                    padding: 42px 0 42px 35px;
                    .title-top {
                        font-size: 18px;
                        text-align: left;
                        margin: 0;
                    }
                    .title-middle {
                        font-size: 18px;
                    }

                    .icon-email {
                        float: left;
                        width: 58px;
                        height: 59px;
                        background: url("../images/icon-email.png") no-repeat 50% 50%;
                    }
                    .text-contact {
                        padding-left: 72px;
                    }
                    .icon-call {
                        float: left;
                        width: 58px;
                        height: 59px;
                        background: url("../images/icon-call.png") no-repeat 50% 50%;
                    }

                    .icon-career {
                        float: left;
                        width: 58px;
                        height: 59px;
                        background: url("../images/icon-career.png") no-repeat 50% 50%;
                    }
                    &:hover {
                        border: 1px solid #ffac55;
                    }
                }
            }
        }
    }
    @media (min-width: 320px) and (max-width: 380px) {
        .container-quick .title-middle {
            font-size: 12px !important;
        }
        .text-contact {
            padding-left: 60px;
        }
    }
}